/* ContactDoctor.css */
.contact-doctor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-doctor-content {
    text-align: center;
    margin-top: 20px;
}

.contact-doctor-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-doctor-content p {
    font-size: 18px;
}
